{% extends "layout.html" %}

{% block content %}

<section>
    <div id="login__page">
        <div class="login__heading"><h3>Already have an account? Log in</h3></div>
        <div class="login__form">
            <form method="POST" action="">
                {{ form.csrf_token }}
                <p>{{ form.email.label }}<br />
                {{ form.email(class_="input") }}</p>
                {% for message in form.email.errors %}
                    <span style="color: red;">{{ message }}</span>
                {% endfor %}
                <!-- <br /> -->
                <p>{{ form.password.label }}<br />
                {{ form.password(class_="input") }}</p>
                {% for message in form.password.errors %}
                    {{ message }}
                {% endfor %}
                <input type="submit" class="submit" value="Log in">
            </form>
        </div>
        <div class="reg__link">Don't have an account? <a href="{{ url_for('register') }}"> Register</a></div>
    </div>
</section>

{% endblock %}
